@import "tailwindcss";
:root {
    --custom-blue-50: #5E6282;
    --custom-blue-200: #ABCCD6;
    --custom-blue-600: #4E93A878;
    --custom-blue-650: #53A0B7;
    --custom-blue-700: #006380;
    --custom-blue-900: #14183E;
    --custom-gray-40: #D9D9D9;
    --custom-gray-50: #5E6282;
    --custom-gray-100: #84829A;
    --custom-gray-150: #E4E4E4;
    --custom-gray-200: #FCFCFC;
    --custom-gray-250: #F5F5F5;
    --custom-gray-800: #323232;
    --custom-orange-500: #F15A2B;
    --custom-yellow-300: #F6DB8D;
    --custom-yellow-500: #F0BB1F;
    --custom-green-500: #00BE63;
    --custom-pink-300: #F09D83;
    --custom-red-500: #E71805;
}

* {
    transform: scale(2px);
}

@layer utilities {
    .shadow-glow {
        position: relative;
    }
    .shadow-glow::before,
    .shadow-glow::after {
        content: '';
        position: absolute;
        top: 0;
        width: 900px;
        height: 400px;
        background: #59B1E6;
        border-radius: 9999px;
        filter: blur(140px);
        opacity: 0.3;
        z-index: 100;
        pointer-events: none;
    }
    .shadow-glow::before {
        left: -400px;
    }
    .shadow-glow::after {
        right: -400px;
    }
    @media (max-width: 1024px) {
        .shadow-glow::before,
        .shadow-glow::after {
            width: 600px;
            height: 300px;
            filter: blur(100px);
            opacity: 0.2;
        }
        .shadow-glow::before {
            left: -300px;
        }
        .shadow-glow::after {
            right: -300px;
        }
    }
    @media (max-width: 640px) {
        .shadow-glow::before,
        .shadow-glow::after {
            width: 400px;
            height: 200px;
            filter: blur(80px);
            opacity: 0.15;
        }
        .shadow-glow::before {
            left: -200px;
        }
        .shadow-glow::after {
            right: -200px;
        }
    }
    .shadow-glow-right::after {
        content: '';
        position: absolute;
        top: 0;
        right: -300px;
        width: 600px;
        height: 400px;
        background: #59B1E6;
        border-radius: 9999px;
        filter: blur(140px);
        opacity: 0.3;
        z-index: -1;
        pointer-events: none;
    }
    .glow-center::before {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 300px;
        height: 120px;
        background: #59B1E6;
        filter: blur(80px);
        opacity: 0.4;
        border-radius: 9999px;
        z-index: 0;
    }
    .glow-image::before {
        content: '';
        position: absolute;
        left: 20%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 500px;
        height: 350px;
        background: #59B1E6;
        filter: blur(80px);
        opacity: 0.4;
        border-radius: 9999px;
        z-index: -1;
    }
    .glow-info-option::before {
        content: '';
        position: absolute;
        left: 10%;
        top: 40%;
        transform: translate(-50%, -50%);
        width: 500px;
        height: 300px;
        background: #59B1E6;
        filter: blur(80px);
        opacity: 0.4;
        border-radius: 9999px;
        z-index: -1;
    }
}

body {
    font-family: var(--font-poppins), var(--font-volkhov), var(--font-inter);
}